<footer class="pyg_footer">
        <a href="javascript:;">
            <i class="fa fa-home"></i>
            <div>首页</div>
        </a>
        <a href="category.html">
            <i class="fa fa-list-ul"></i>
            <div>分类</div>
        </a>
        <a href="javascript:;">
            <i class="fa fa-shopping-cart"></i>
            <div>购物车</div>
        </a>
        <a href="javascript:;">
            <i class="fa fa-user-circle-o"></i>
            <div>我的</div>
        </a>
    </footer>