* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
html,
body,
.pyg_view {
  height: 100%;
}
body {
  padding-top: 45px;
  padding-bottom: 45px;
}
img {
  width: 100%;
}
.pyg_view {
  overflow: scroll;
}
.pyg_header {
  padding: 5px;
  width: 100%;
  height: 45px;
  position: fixed;
  background-color: #fff;
  left: 0;
  top: 0;
}
.pyg_footer {
  width: 100%;
  height: 45px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  background-color: #fff;
}
.pyg_footer a {
  height: 45px;
  flex: 1;
  text-align: center;
  color: #000;
  margin-top: 3px;
}
.pyg_footer a i {
  font-size: 18px;
}
.pyg_footer a div {
  font-size: 13px;
}
.pyg_cates {
  width: 100%;
  display: flex;
}
.pyg_cates a {
  flex: 1;
  text-align: center;
  padding: 12px;
}
.pyg_cates a img {
  width: 100%;
}
.pyg_goodslist {
  width: 100%;
  padding: 5px;
}
.pyg_goodslist .goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pyg_goodslist .goods li {
  width: 49%;
  background-color: #fff;
  margin-bottom: 5px;
}
.pyg_goodslist .goods li .goods_detail .goods_name {
  color: #000;
  font-size: 14px;
  height: 40px;
  overflow: hidden;
}
.pyg_goodslist .goods li .goods_detail .goods_price {
  color: red;
  font-size: 15px;
}
.pyg_goodslist .goods li .similar {
  color: #0094ff;
  display: block;
  width: 60%;
  margin: 0 auto;
}
